@import "../../ui/variables.scss";

.headerContent {
  background-color: --main-description-bgcolor;
  width: 100%;
  height: $header-height;
  border-bottom: 1px solid lightgray;

  &__top {
    display: flex;
    align-items: center;
    height: $header-height;

    &__left {
      flex: 0.7;
      padding-left: 70px;
      height: inherit;
    }

    &__right {
      flex: 0.3;
      display: flex;
      justify-content: flex-end;
    }
  }
}
