@import "../../ui/variables.scss";

.headerContent {
  background-color: $main-description-bgcolor;
  width: 100%;
  min-height: $header-height;

  &__top {
    display: flex;
    align-items: center;
    height: $header-height;
    border-bottom: 1px solid lightgray;

    &__left {
      flex: 1;
      margin-left: 70px;
      display: flex;
      justify-content: flex-start;

      &__item {
        height: $header-height;
        display: flex;
        align-items: center;

        &__link {
          padding-left: 35px;
          padding-right: 35px;
          line-height: $header-height;
          white-space: nowrap;
          text-align: center;
          text-decoration: none;
          border-bottom: 2px solid transparent;
          font-size: 0.8rem;
          font-weight: bold;
          color: $default-font-color;
          display: flex;
          align-items: center;

          &:hover {
            border-bottom: 2px solid $main-violet-color;
          }
        }

        .active {
          background-color: lightgray;
          border-bottom: 2px solid $main-violet-color;
        }
      }
    }

    &__right {
      flex: 0.3;
      display: flex;
      padding-left: 35px;
      justify-content: flex-end;
    }
  }
}
