@import "./ui/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $default-font-size;
  color: $default-font-color;
}

.app {
  margin: 0;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  max-height: 100vh;
  background-color: $main-background-color--lightMode;
  position: relative;
  overflow: hidden;
}
.app__content {
  display: flex;
  overflow: hidden;

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
