@import "./ui/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $default-font-size;
  color: $default-font-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $default-font-size;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  margin: 0;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  max-height: 100vh;
  background-color: $main-background-color--lightMode;
}
.app__content {
  display: flex;
  overflow: hidden;

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
